<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR WEBSITE</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #885ce7;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        header {
            background-color: #885ce7;
            color: #fff1f1;
            text-align: center;
            padding: 2rem;
        }
        section {
            text-align: center;
            padding: 2rem;
        }
        .scroll-down-button {
            display: block;
            text-align: center;
            margin-top: 2rem;
        }
        .scroll-down-button a {
            text-decoration: none;
            background-color: #885ce7;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .scroll-down-button a:hover {
            background-color: #555;
        }
        .login-buttons {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
        .login-button {
            text-decoration: none;
            background-color: #33a655;
            color: #fbf9ff;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 0 10px;
        }
        /* Add more styles for your images, text, and other elements */
    </style>
</head>
<body>
    <header>
        <h1>Welcome to My Awesome Homepage</h1>
    </header>
    <section>
        <h2>About Me</h2>
        <p>
            This is where you can introduce yourself and provide some information about you.
        </p>
    </section>
    <section>
        <!-- Add your photos here -->
        <img src="1.jpg" alt="">
        <img src="2.jpeg" alt="">
        <img src="photo3.jpg" alt="">
    </section>
    <div class="login-buttons">
        <a href="/api/auth/LOGINASADMIN" class="login-button">Log in as admin</a>
        <a href="/api/auth/login" class="login-button">Log in as user</a>
    </div>
    <section>
        <h2>Contact Me</h2>
        <p>
            You can reach me at myemail@example.com.
        </p>
    </section>
   
</body>
</html>
